@import 'mixins';
.auth-footer {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  padding-top: 162px;
 
  @include tablet {
    display: none;
  }
}
