:root {
    --ff: "Inter", sans-serif;
    --black: #000;
    --gray: #667085;
    --secondary-color: #344054;
    --c-border:#d0d5dd;
  
    --primary-color: #5429ff;
  
    //adaptive width
  
    $desktop-small: 1200px;
    $tablet: 992px;
    $tablet-small: 768px;
    $mobile: 576px;
    
  }